<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create</title>
  </head>
  <body>
    <h3>Create a new listing</h3>
    <form method="POST" action="/listings">
      <input placeholder="enter title" type="text" name="title" id="" />
      <br />
      <br />
      <input
        placeholder="give a description"
        type="text"
        name="description"
        id=""
      />
      <br />
      <br />
      <input placeholder="enter a url" type="text" name="image" id="" />
      <br />
      <br />
      <input placeholder="enter price" type="number" name="price" id="" />
      <br />
      <br />
      <input placeholder="enter country" type="text" name="country" id="" />
      <br />
      <br />
      <input placeholder="enter location" type="text" name="location" id="" />
      <br />
      <br />
      <button>Add</button>
    </form>
  </body>
</html>
